In [1]:
import pandas as pd

In [4]:
file = pd.read_excel("MO16-Round-1-Sec-3-Roll-The-Dice-1.xlsx", sheet_name="Data")

In [5]:
file

,ModelOff 2016 - Round 1 - Section 3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,List of All Turns To Be Scored,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6003,NaN,NaN,5996,2998,1,2,4,2,1,3
6004,NaN,NaN,5997,2999,4,3,4,5,5,4
6005,NaN,NaN,5998,2999,2,2,2,5,6,1
6006,NaN,NaN,5999,3000,5,6,4,4,2,6
6007,NaN,NaN,6000,3000,2,5,4,3,2,5

In [6]:
file['Unnamed: 4']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6003      1
6004      4
6005      2
6006      5
6007      2
Name: Unnamed: 4, Length: 6008, dtype: object

In [15]:
turns = []
for id, item in file.iterrows():
    if isinstance(item['Unnamed: 4'], int):
        # print(item['Unnamed: 4'])
        turns.append([item['Unnamed: 4'], item['Unnamed: 5'], item['Unnamed: 6'], item['Unnamed: 7'],item['Unnamed: 8'], item['Unnamed: 9']])
        # break

In [16]:
len(turns)

6000

In [19]:
## Question 20

score = 0
for turn in turns:
    max_val = max(turn)
    times = 0
    for val in turn:
        if val == max_val:
            times += 1
    score += max_val * times
    # print(times)

In [20]:
score

52246

In [ ]:
##B

In [22]:
scores = []
for turn in turns:
    scores.append(sum(turn))


maxlabel = max(scores,key=scores.count)
maxlabel

21

In [23]:
## 21 f

In [25]:
## Question 22 I

scores = []
for turn in turns:
    scores.append(max(turn) * min(turn)*(max(turn)-min(turn)))

max(scores)

54

In [26]:
## Question 23 B

scores = 0
for turn in turns:
    if len(set(turn)) == 2:
        for val in turn:
            if val ==3:
                scores += 1

print(scores)

128

In [28]:
## Question 24 d

scores = 0
for id, turn in enumerate(turns):
    if len(set(turn)) == 6:
        scores += 1
        if scores == 50:
            print(id+1)
            break

3148

In [29]:
## Question 25 E


def contu(Lis):
    assert len(Lis) == 4, "error"
    if Lis[0] + 1 == Lis[1] and Lis[1] + 1 ==Lis[2] and Lis[2] + 1 ==Lis[3]:
        return True
    if Lis[0] - 1 == Lis[1] and Lis[1] - 1 ==Lis[2] and Lis[2] - 1 ==Lis[3]:
        return True
    return False

scores = 0
for id, turn in enumerate(turns):
    qualify = False
    for i in [0,1,2]:
        if contu(turn[i:i+4]):
            qualify = True
    if qualify:
        scores += 1

print(scores)

98

In [33]:
## Question 26 G


def contu(Lis):
    assert len(Lis) == 4, "error"
    if Lis[0] + 1 == Lis[1] and Lis[1] + 1 ==Lis[2] and Lis[2] + 1 ==Lis[3]:
        return True
    if Lis[0] - 1 == Lis[1] and Lis[1] - 1 ==Lis[2] and Lis[2] - 1 ==Lis[3]:
        return True
    return False

scores = 0
for id, turn in enumerate(turns):
    score = []
    max_val = max(turn)
    times = 0
    for val in turn:
        if val == max_val:
            times += 1    
    
    score.append(max_val * times)
    score.append(sum(turn))
    score.append(max(turn) * min(turn)*(max(turn)-min(turn)))
    if len(set(turn)) == 2:
        score.append(30)
    else:
        score.append(0)

    if len(set(turn)) == 6:
        score.append(40)
    else:
        score.append(0)
        
    qualify = False
    for i in [0,1,2]:
        if contu(turn[i:i+4]):
            qualify = True
    if qualify:
        score.append(50)
    else:
        score.append(0)
    
    score.sort(reverse=True)
    scores += score[1]
print(scores)

126789

In [38]:
## Question 27 I


def contu(Lis):
    assert len(Lis) == 4, "error"
    if Lis[0] + 1 == Lis[1] and Lis[1] + 1 ==Lis[2] and Lis[2] + 1 ==Lis[3]:
        return True
    if Lis[0] - 1 == Lis[1] and Lis[1] - 1 ==Lis[2] and Lis[2] - 1 ==Lis[3]:
        return True
    return False

scores = []
for id, turn in enumerate(turns):
    score = []
    max_val = max(turn)
    times = 0
    for val in turn:
        if val == max_val:
            times += 1    
    
    score.append(max_val * times)
    score.append(sum(turn))
    score.append(max(turn) * min(turn)*(max(turn)-min(turn)))
    if len(set(turn)) == 2:
        score.append(30)
    else:
        score.append(0)

    if len(set(turn)) == 6:
        score.append(40)
    else:
        score.append(0)
        
    qualify = False
    for i in [0,1,2]:
        if contu(turn[i:i+4]):
            qualify = True
    if qualify:
        score.append(50)
    else:
        score.append(0)
    
    score.sort(reverse=True)
    scores += score
maxm = max(scores)
print(maxm)

manys = 0
for i in range(int(len(scores)/10)):
    mm = max(scores[10*i : 10 * (i+1)])
    if mm == maxm:
        manys += 1
print(manys)

54
339

In [39]:
## Question 28 131434


def contu(Lis):
    assert len(Lis) == 4, "error"
    if Lis[0] + 1 == Lis[1] and Lis[1] + 1 ==Lis[2] and Lis[2] + 1 ==Lis[3]:
        return True
    if Lis[0] - 1 == Lis[1] and Lis[1] - 1 ==Lis[2] and Lis[2] - 1 ==Lis[3]:
        return True
    return False

scores = []
for id, turn in enumerate(turns):
    score = []
    max_val = max(turn)
    times = 0
    for val in turn:
        if val == max_val:
            times += 1    
    
    score.append(max_val * times)
    score.append(sum(turn))
    score.append(max(turn) * min(turn)*(max(turn)-min(turn)))
    if len(set(turn)) == 2:
        score.append(30)
    else:
        score.append(0)

    if len(set(turn)) == 6:
        score.append(40)
    else:
        score.append(0)
        
    qualify = False
    for i in [0,1,2]:
        if contu(turn[i:i+4]):
            qualify = True
    if qualify:
        score.append(50)
    else:
        score.append(0)
    
    score.sort(reverse=True)
    scores += score
maxm = max(scores)
print(maxm)

final_score = 0
manys = 0
for i in range(int(len(scores)/10)):
    mm = max(scores[10*i : 10 * (i+1)])
    final_score += mm
print(final_score)

54
131434

In [43]:
## Question 29 78


def contu(Lis):
    assert len(Lis) == 4, "error"
    if Lis[0] + 1 == Lis[1] and Lis[1] + 1 ==Lis[2] and Lis[2] + 1 ==Lis[3]:
        return True
    if Lis[0] - 1 == Lis[1] and Lis[1] - 1 ==Lis[2] and Lis[2] - 1 ==Lis[3]:
        return True
    return False

scores = []
for id, turn in enumerate(turns):
    score = []
    max_val = max(turn)
    times = 0
    for val in turn:
        if val == max_val:
            times += 1    
    
    score.append(max_val * times)
    score.append(sum(turn))
    score.append(max(turn) * min(turn)*(max(turn)-min(turn)))
    if len(set(turn)) == 2:
        score.append(30)
    else:
        score.append(0)

    if len(set(turn)) == 6:
        score.append(40)
    else:
        score.append(0)
        
    qualify = False
    for i in [0,1,2]:
        if contu(turn[i:i+4]):
            qualify = True
    if qualify:
        score.append(50)
    else:
        score.append(0)
    
    score.sort(reverse=True)
    scores += score
maxm = max(scores)
print(maxm)

win_a = 0
win_b = 0
for i in range(0, int(len(scores)/10), 2):
    mm1 = max(scores[10*i : 10 * (i+1)])
    mm2 = max(scores[10*(i+1) : 10 * (i+2)])
    if mm1 > mm2:
        win_a += 1
    if mm2 > mm1:
        win_b +=1
print(win_a - win_b)

54
78