In [11]:
import pandas as pd
import math

In [4]:
data_excel = pd.read_excel('./MO16-Round-2-Sec-3-Tally-Up-1.xlsx', sheet_name="Data")

In [19]:
data_excel

,ModelOff 2016 - Round 2 - Section 3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,NaN,NaN,NaN,NaN,NaN,NaN,989389,68,107,NaN,4,8,6,5,2,7,3,1
1003,NaN,NaN,NaN,NaN,NaN,NaN,989459,51,137,NaN,5,0,4,3,7,2,6,1
1004,NaN,NaN,NaN,NaN,NaN,NaN,991687,52,128,NaN,2,4,3,1,0,6,0,5
1005,NaN,NaN,NaN,NaN,NaN,NaN,992377,44,144,NaN,4,2,1,6,0,5,3,0
1006,NaN,NaN,NaN,NaN,NaN,NaN,997305,39,147,NaN,0,4,3,2,1,0,6,5

In [6]:
data_excel['Unnamed: 8']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1002    107
1003    137
1004    128
1005    144
1006    147
Name: Unnamed: 8, Length: 1007, dtype: object

In [17]:
## Question 17
res = 0
for item in data_excel['Unnamed: 8']:
    # print(type(item))
    # print(item)
    try:
        if not math.isnan(item):
            # print(item)
            if int(item) >= 135 and int(item) <= 144:
                res += 1
            
    except:
        print("error")
print(res)

error
115

In [18]:
## Question 18
res1 = 0
res2 = 0
res3 = 0
res4 = 0
res5 = 0
res6 = 0
res7 = 0
res8 = 0
res9 = 0

for item in data_excel['Unnamed: 8']:
    # print(type(item))
    # print(item)
    try:
        if not math.isnan(item):
            # print(item)
            if int(item) >= 105 and int(item) <= 114:
                res1 += 1
            if int(item) >= 115 and int(item) <= 124:
                res2 += 1
            if int(item) >= 125 and int(item) <= 134:
                res3 += 1
            if int(item) >= 135 and int(item) <= 144:
                res4 += 1
            if int(item) >= 145 and int(item) <= 154:
                res5 += 1
            if int(item) >= 155 and int(item) <= 164:
                res6 += 1
            if int(item) >= 165 and int(item) <= 174:
                res7 += 1
            if int(item) >= 175 and int(item) <= 184:
                res8 += 1
            if int(item) >= 185 and int(item) <= 194:
                res9 += 1
            
    except:
        print("error")
print(res1)
print(res2)
print(res3)
print(res4)
print(res5)
print(res6)
print(res7)
print(res8)
print(res9)

error
120
82
115
115
108
122
105
121
112

In [23]:
## Question 20
Red = 0
Orange = 0
Yellow = 0
Green = 0
Blue = 0
Purple = 0
Brown = 0
Black = 0

for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            if int(item) >= 115 and int(item) <= 124:
                if data_excel['Unnamed: 10'][i] == 1:
                    Red += 1
                if data_excel['Unnamed: 11'][i] == 1:
                    Orange += 1
                if data_excel['Unnamed: 12'][i] == 1:
                    Yellow += 1
                if data_excel['Unnamed: 13'][i] == 1:
                    Green += 1
                if data_excel['Unnamed: 14'][i] == 1:
                    Blue += 1
                if data_excel['Unnamed: 15'][i] == 1:
                    Purple += 1
                if data_excel['Unnamed: 16'][i] == 1:
                    Brown += 1
                if data_excel['Unnamed: 17'][i] == 1:
                    Black += 1
                
    except:
        print("error")
print(Red)
print(Orange)
print(Yellow)
print(Green)
print(Blue)
print(Purple)
print(Brown)
print(Black)

error
17
10
9
11
4
9
7
15

In [ ]:
## Question 19
res1 = 0
res2 = 0
res3 = 0
res4 = 0
res5 = 0
res6 = 0
res7 = 0
res8 = 0
res9 = 0

for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            # print(item)
            if int(item) >= 105 and int(item) <= 114:
                if data_excel['Unnamed: 11'][i] == 1:
                    res1 += 1
            if int(item) >= 115 and int(item) <= 124 and data_excel['Unnamed: 11'][i] == 1:
                res2 += 1
            if int(item) >= 125 and int(item) <= 134 and data_excel['Unnamed: 11'][i] == 1:
                res3 += 1
            if int(item) >= 135 and int(item) <= 144 and data_excel['Unnamed: 11'][i] == 1:
                res4 += 1
            if int(item) >= 145 and int(item) <= 154 and data_excel['Unnamed: 11'][i] == 1:
                res5 += 1
            if int(item) >= 155 and int(item) <= 164 and data_excel['Unnamed: 11'][i] == 1:
                res6 += 1
            if int(item) >= 165 and int(item) <= 174 and data_excel['Unnamed: 11'][i] == 1:
                res7 += 1
            if int(item) >= 175 and int(item) <= 184 and data_excel['Unnamed: 11'][i] == 1:
                res8 += 1
            if int(item) >= 185 and int(item) <= 194 and data_excel['Unnamed: 11'][i] == 1:
                res9 += 1
            
    except:
        print("error")
print(res1)
print(res2)
print(res3)
print(res4)
print(res5)
print(res6)
print(res7)
print(res8)
print(res9)

In [26]:
## Question 21
Red = 0
Orange = 0
Yellow = 0
Green = 0
Blue = 0
Purple = 0
Brown = 0
Black = 0

advance = 2
for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            if int(item) >= 105 and int(item) <= 114:
                if data_excel['Unnamed: 10'][i] == advance:
                    Red += 1
                if data_excel['Unnamed: 11'][i] == advance:
                    Orange += 1
                if data_excel['Unnamed: 12'][i] == advance:
                    Yellow += 1
                if data_excel['Unnamed: 13'][i] == advance:
                    Green += 1
                if data_excel['Unnamed: 14'][i] == advance:
                    Blue += 1
                if data_excel['Unnamed: 15'][i] == advance:
                    Purple += 1
                if data_excel['Unnamed: 16'][i] == advance:
                    Brown += 1
                if data_excel['Unnamed: 17'][i] == advance:
                    Black += 1
                
    except:
        print("error")
print(Red)
print(Orange)
print(Yellow)
print(Green)
print(Blue)
print(Purple)
print(Brown)
print(Black)

error
13
10
18
22
11
20
12
14

In [36]:
## Question 22
Red = 0
Orange = 0
Yellow = 0
Green = 0
Blue = 0
Purple = 0
Brown = 0
Black = 0

advance = 1
for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            if int(item) >= 185 and int(item) <= 194:
                if data_excel['Unnamed: 10'][i] == advance:
                    Red += 1
                if data_excel['Unnamed: 11'][i] == advance:
                    Orange += 1
                if data_excel['Unnamed: 12'][i] == advance:
                    Yellow += 1
                if data_excel['Unnamed: 13'][i] == advance:
                    Green += 1
                if data_excel['Unnamed: 14'][i] == advance:
                    Blue += 1
                if data_excel['Unnamed: 15'][i] == advance:
                    Purple += 1
                if data_excel['Unnamed: 16'][i] == advance:
                    Brown += 1
                if data_excel['Unnamed: 17'][i] == advance:
                    Black += 1
                
    except:
        print("error")
print(Red)
print(Orange)
print(Yellow)
print(Green)
print(Blue)
print(Purple)
print(Brown)
print(Black)

error
17
14
14
14
15
11
9
18

In [37]:
## Question 23
Red = 0
Orange = 0
Yellow = 0
Green = 0
Blue = 0
Purple = 0
Brown = 0
Black = 0

scores = [12, 10, 8, 6, 4, 2, 1]

advance = 1
for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            if int(item) >= 145 and int(item) <= 154:
                if data_excel['Unnamed: 10'][i] == advance:
                    Red += scores[data_excel['Unnamed: 10'][i]-1]
                if data_excel['Unnamed: 11'][i] == advance:
                    Orange += scores[data_excel['Unnamed: 11'][i]-1]
                if data_excel['Unnamed: 12'][i] == advance:
                    Yellow += scores[data_excel['Unnamed: 12'][i]-1]
                if data_excel['Unnamed: 13'][i] == advance:
                    Green += scores[data_excel['Unnamed: 13'][i]-1]
                if data_excel['Unnamed: 14'][i] == advance:
                    Blue += scores[data_excel['Unnamed: 14'][i]-1]
                if data_excel['Unnamed: 15'][i] == advance:
                    Purple += scores[data_excel['Unnamed: 15'][i]-1]
                if data_excel['Unnamed: 16'][i] == advance:
                    Brown += scores[data_excel['Unnamed: 16'][i]-1]
                if data_excel['Unnamed: 17'][i] == advance:
                    Black += scores[data_excel['Unnamed: 17'][i]-1]
                
    except:
        print("error")
print(Red)
print(Orange)
print(Yellow)
print(Green)
print(Blue)
print(Purple)
print(Brown)
print(Black)

error
168
120
132
204
96
168
240
168

In [46]:

## Question 24
Red = 0
Orange = 0
Yellow = 0
Green = 0
Blue = 0
Purple = 0
Brown = 0
Black = 0

scores = [12, 10, 8, 6, 4, 2, 1]

advance = 1
for i, item in enumerate(data_excel['Unnamed: 8']):
    try:
        if not math.isnan(item):
            if int(item) >= 185 and int(item) <= 194:
                if data_excel['Unnamed: 10'][i] == advance:
                    Red += scores[data_excel['Unnamed: 10'][i]-1]
                if data_excel['Unnamed: 11'][i] == advance:
                    Orange += scores[data_excel['Unnamed: 11'][i]-1]
                if data_excel['Unnamed: 12'][i] == advance:
                    Yellow += scores[data_excel['Unnamed: 12'][i]-1]
                if data_excel['Unnamed: 13'][i] == advance:
                    Green += scores[data_excel['Unnamed: 13'][i]-1]
                if data_excel['Unnamed: 14'][i] == advance:
                    Blue += scores[data_excel['Unnamed: 14'][i]-1]
                if data_excel['Unnamed: 15'][i] == advance:
                    Purple += scores[data_excel['Unnamed: 15'][i]-1]
                if data_excel['Unnamed: 16'][i] == advance:
                    Brown += scores[data_excel['Unnamed: 16'][i]-1]
                if data_excel['Unnamed: 17'][i] == advance:
                    Black += scores[data_excel['Unnamed: 17'][i]-1]
                
    except:
        print("error")
print(Red)
print(Orange)
print(Yellow)
print(Green)
print(Blue)
print(Purple)
print(Brown)
print(Black)

error
204
168
168
168
180
132
108
216