In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("/Users/tencentintern/PycharmProjects/DSBench/modeloff/data/00000032/MO14-Round-1-Dealing-With-Data-Workbook.xlsx", sheet_name="Usage", header=None)

/opt/anaconda3/envs/dsbench/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [8]:
data.columns

Index([0], dtype='int64')

In [22]:
usages = [us.replace('kwh','').strip().split(' ')[-1].split('___')[-1].split('__')[-1].split('_')[-1] for us in data[0]]
usages = [float(item) for item in usages]

In [57]:
times =  [us.replace('kwh','').replace('___', ' ').replace('__', ' ').replace('_', ' ').strip().split()[:-1] for us in data[0]]
# times
# Function to convert 12-hour format to 24-hour format
def convert_to_24hr(time_12hr):
    # Check if the time is AM or PM
    if 'am' in time_12hr.lower():
        hour = int(time_12hr[:-2])
        return hour if hour != 12 else 0  # Midnight case
    else:
        hour = int(time_12hr[:-2])
        return hour + 12 if hour != 12 else 12  # Noon case



days = [d[-1].replace("th", '').replace("rd", '').replace("nd", '').replace("st", '') for d in times]
hours = [d[0] if 'am' in d[0].lower() or  'pm' in d[0].lower() else ''.join([d[0], d[1]])  for d in times]
hours = [convert_to_24hr(d) for d in hours]

hours

[15,
 5,
 20,
 18,
 1,
 5,
 12,
 7,
 8,
 16,
 16,
 1,
 0,
 20,
 3,
 23,
 19,
 1,
 20,
 12,
 11,
 9,
 13,
 11,
 22,
 10,
 12,
 13,
 23,
 0,
 0,
 0,
 16,
 6,
 22,
 2,
 22,
 10,
 16,
 4,
 20,
 0,
 1,
 23,
 12,
 8,
 18,
 22,
 8,
 14,
 6,
 13,
 21,
 15,
 21,
 17,
 13,
 13,
 23,
 12,
 23,
 21,
 3,
 18,
 2,
 14,
 23,
 16,
 3,
 9,
 0,
 0,
 4,
 19,
 18,
 3,
 11,
 0,
 23,
 15,
 18,
 1,
 23,
 6,
 20,
 22,
 10,
 15,
 16,
 12,
 3,
 13,
 1,
 12,
 18,
 8,
 1,
 9,
 2,
 3,
 18,
 9,
 4,
 13,
 8,
 6,
 3,
 3,
 11,
 20,
 14,
 14,
 5,
 11,
 5,
 9,
 16,
 14,
 19,
 0,
 5,
 8,
 2,
 9,
 11,
 9,
 14,
 12,
 10,
 13,
 3,
 6,
 4,
 6,
 13,
 23,
 19,
 12,
 22,
 10,
 6,
 3,
 5,
 0,
 21,
 11,
 19,
 1,
 0,
 10,
 19,
 0,
 2,
 8,
 11,
 19,
 20,
 9,
 14,
 7,
 12,
 19,
 16,
 22,
 7,
 14,
 14,
 14,
 13,
 1,
 3,
 4,
 16,
 4,
 7,
 17,
 8,
 15,
 2,
 16,
 13,
 3,
 18,
 17,
 9,
 8,
 14,
 12,
 21,
 0,
 19,
 20,
 22,
 0,
 4,
 23,
 7,
 22,
 8,
 6,
 3,
 16,
 18,
 8,
 10,
 2,
 18,
 9,
 5,
 5,
 1,
 11,
 17,
 19,
 3,
 21,
 14,
 19,
 9,
 18,
 6,
 9,
 4,
 22,
 9,
 2,
 14,
 7,
 8,
 15,
 12,
 7,
 18,
 20,
 5,
 8,
 16,
 19,
 3,
 18,
 0,
 3,
 9,
 1,
 4,
 13,
 9,
 18,
 12,
 6,
 7,
 23,
 9,
 8,
 12,
 2,
 20,
 14,
 8,
 0,
 21,
 11,
 8,
 20,
 7,
 20,
 1,
 18,
 13,
 21,
 15,
 22,
 14,
 11,
 10,
 16,
 2,
 13,
 0,
 1,
 2,
 5,
 11,
 9,
 5,
 10,
 14,
 14,
 10,
 9,
 17,
 9,
 10,
 23,
 2,
 8,
 23,
 9,
 18,
 19,
 4,
 11,
 9,
 14,
 11,
 2,
 11,
 3,
 8,
 16,
 11,
 19,
 15,
 19,
 19,
 19,
 9,
 0,
 22,
 20,
 8,
 4,
 7,
 2,
 7,
 23,
 1,
 15,
 20,
 20,
 21,
 20,
 22,
 21,
 13,
 17,
 18,
 12,
 12,
 7,
 20,
 8,
 0,
 0,
 14,
 11,
 18,
 2,
 14,
 7,
 20,
 5,
 22,
 5,
 11,
 19,
 13,
 17,
 15,
 6,
 11,
 16,
 10,
 2,
 22,
 16,
 21,
 8,
 10,
 12,
 1,
 6,
 4,
 5,
 5,
 14,
 4,
 5,
 7,
 6,
 13,
 0,
 15,
 6,
 10,
 19,
 23,
 5,
 14,
 14,
 4,
 21,
 0,
 9,
 17,
 9,
 8,
 5,
 23,
 18,
 0,
 23,
 15,
 19,
 23,
 6,
 14,
 4,
 10,
 10,
 21,
 13,
 9,
 2,
 10,
 10,
 3,
 20,
 17,
 20,
 11,
 11,
 3,
 13,
 20,
 13,
 17,
 5,
 2,
 21,
 13,
 8,
 21,
 2,
 19,
 17,
 4,
 8,
 8,
 1,
 2,
 19,
 0,
 13,
 19,
 18,
 8,
 7,
 10,
 4,
 17,
 11,
 3,
 14,
 20,
 9,
 23,
 4,
 18,
 3,
 15,
 16,
 10,
 1,
 3,
 6,
 7,
 1,
 12,
 18,
 11,
 18,
 5,
 8,
 17,
 15,
 10,
 15,
 18,
 13,
 4,
 3,
 6,
 8,
 4,
 5,
 20,
 11,
 6,
 19,
 12,
 16,
 19,
 15,
 12,
 4,
 21,
 21,
 16,
 13,
 16,
 8,
 1,
 6,
 13,
 5,
 8,
 19,
 18,
 22,
 1,
 19,
 9,
 17,
 9,
 10,
 15,
 15,
 6,
 11,
 17,
 5,
 20,
 18,
 16,
 13,
 5,
 8,
 8,
 13,
 22,
 13,
 2,
 0,
 2,
 12,
 0,
 3,
 15,
 9,
 23,
 12,
 22,
 8,
 3,
 22,
 22,
 0,
 4,
 4,
 20,
 23,
 14,
 19,
 4,
 14,
 1,
 19,
 11,
 18,
 14,
 10,
 15,
 10,
 12,
 16,
 8,
 5,
 20,
 5,
 5,
 6,
 23,
 17,
 19,
 1,
 20,
 21,
 12,
 6,
 22,
 22,
 22,
 14,
 2,
 4,
 8,
 21,
 21,
 8,
 1,
 9,
 5,
 16,
 2,
 8,
 22,
 9,
 4,
 4,
 21,
 13,
 18,
 12,
 12,
 13,
 14,
 19,
 15,
 5,
 22,
 12,
 14,
 9,
 3,
 14,
 4,
 10,
 12,
 20,
 9,
 17,
 22,
 5,
 14,
 10,
 8,
 13,
 21,
 13,
 5,
 16,
 19,
 10,
 15,
 15,
 11,
 20,
 4,
 23,
 19,
 22,
 16,
 15,
 1,
 9,
 7,
 4,
 14,
 18,
 5,
 3,
 16,
 6,
 7,
 7,
 0,
 16,
 20,
 3,
 19,
 14,
 0,
 16,
 4,
 12,
 4,
 2,
 3,
 6,
 18,
 8,
 13,
 19,
 5,
 2,
 23,
 7,
 18,
 5,
 17,
 19,
 11,
 8,
 10,
 19,
 3,
 0,
 13,
 13,
 9,
 6,
 16,
 2,
 4,
 1,
 10,
 21,
 14,
 4,
 3,
 10,
 1,
 3,
 7,
 5,
 6,
 2,
 6,
 0,
 7,
 9,
 6,
 12,
 2,
 19,
 2,
 23,
 20,
 7,
 1,
 14,
 23,
 1,
 20,
 21,
 8,
 17,
 7,
 17,
 16,
 21,
 21,
 0,
 10,
 9,
 12,
 23,
 20,
 10,
 23,
 11,
 18,
 17,
 6,
 23,
 10,
 8,
 17,
 16,
 18,
 8,
 16,
 16,
 7,
 12,
 14,
 17,
 12,
 2,
 3,
 14,
 4,
 13,
 22,
 20,
 6,
 15,
 14,
 11,
 20,
 17,
 18,
 22,
 11,
 12,
 21,
 9,
 4,
 18,
 4,
 3,
 21,
 0,
 21,
 9,
 12,
 16,
 14,
 7,
 5,
 16,
 14,
 1,
 21,
 10,
 19,
 17,
 9,
 8,
 21,
 19,
 13,
 10,
 20,
 21,
 13,
 6,
 21,
 20,
 12,
 1,
 13,
 20,
 3,
 22,
 22,
 7,
 19,
 16,
 11,
 1,
 5,
 10,
 7,
 2,
 3,
 1,
 12,
 18,
 10,
 7,
 5,
 18,
 22,
 16,
 12,
 18,
 23,
 16,
 22,
 11,
 13,
 15,
 3,
 2,
 2,
 9,
 10,
 15,
 11,
 0,
 19,
 12,
 4,
 9,
 21,
 12,
 12,
 5,
 10,
 16,
 1,
 16,
 14,
 0,
 15,
 7,
 6,
 9,
 14,
 4,
 4,
 9,
 22,
 11,
 7,
 6,
 2,
 11,
 17,
 21,
 11,
 20,
 11,
 14,
 0,
 19,
 15,
 7,
 18,
 8,
 1,
 18,
 11,
 5,
 7,
 14,
 16,
 18,
 13,
 10,
 12,
 9,
 14,
 1,
 0,
 14,
 14,
 1,
 22,
 5,
 4,
 16,
 9,
 14,
 20,
 16,
 13,
 14,
 18,
 20,
 7,
 20,
 15,
 23,
 15,
 12,
 9,
 20,
 10,
 5,
 6,
 21,
 7,
 23,
 6,
 18,
 6,
 0,
 12,
 1,
 2,
 9,
 4,
 18,
 20,
 17,
 19,
 0,
 3,
 17,
 18,
 17,
 16,
 13,
 8,
 3,
 10,
 10,
 5,
 23,
 6,
 0,
 19,
 15,
 19,
 17,
 3,
 20,
 23,
 21,
 13,
 13,
 18,
 5,
 16,
 11,
 3,
 11,
 8,
 12,
 18,
 14,
 4,
 15,
 18,
 1,
 5,
 7,
 9,
 12,
 15,
 15,
 7,
 4,
 21,
 20,
 11,
 1,
 ...]

In [58]:
dicts = {"days": days, "hours": hours, "usages": usages}
data_time = pd.DataFrame.from_dict(dicts)

In [59]:
data_time

             days  hours  usages
0     24-Mar-2014     15   0.384
1     15-Aug-2014      5   1.201
2     20-Mar-2014     20   1.523
3     23-Apr-2014     18   0.424
4     19-Dec-2014      1   0.209
...           ...    ...     ...
8755  07-Nov-2014      1   0.084
8756  20-May-2014      6   1.027
8757   8-Apr-2014      2   0.052
8758  27-Jan-2014     21   1.428
8759  25-Aug-2014     12   0.528

[8760 rows x 3 columns]

In [23]:
usages

[0.384,
 1.201,
 1.523,
 0.424,
 0.209,
 1.228,
 1.296,
 0.437,
 0.523,
 2.052,
 0.509,
 0.547,
 0.845,
 0.557,
 0.283,
 0.344,
 2.948,
 0.378,
 0.963,
 1.469,
 1.017,
 0.626,
 0.547,
 0.578,
 0.392,
 0.514,
 0.147,
 0.542,
 0.89,
 0.546,
 0.1,
 1.67,
 0.269,
 0.626,
 0.203,
 0.178,
 0.231,
 0.308,
 0.33,
 0.385,
 1.67,
 0.54,
 0.15,
 0.558,
 0.552,
 0.988,
 2.912,
 0.246,
 0.272,
 0.403,
 0.245,
 0.874,
 0.672,
 0.84,
 0.326,
 1.53,
 0.432,
 0.814,
 0.618,
 0.594,
 0.264,
 0.314,
 0.185,
 0.731,
 0.4,
 0.986,
 0.464,
 0.848,
 0.228,
 0.799,
 0.245,
 0.333,
 0.384,
 1.008,
 0.624,
 0.394,
 0.289,
 0.266,
 0.612,
 0.151,
 1.165,
 0.376,
 1.164,
 1.066,
 2.304,
 0.55,
 0.655,
 0.842,
 0.998,
 0.583,
 0.38,
 0.25,
 0.22,
 0.416,
 2.462,
 0.835,
 0.576,
 0.324,
 0.348,
 0.155,
 0.445,
 0.763,
 0.23,
 0.285,
 0.192,
 0.998,
 0.209,
 0.157,
 0.578,
 0.418,
 0.59,
 0.504,
 2.574,
 0.351,
 0.924,
 0.37,
 0.144,
 0.576,
 0.562,
 0.194,
 1.386,
 2.558,
 0.158,
 0.209,
 0.252,
 0.174,
 0.728,
 0.416,
 0.431,
 0.294,
 0.122,
 0.367,
 0.154,
 0.797,
 0.223,
 0.372,
 0.778,
 0.702,
 0.412,
 0.166,
 1.166,
 0.162,
 0.601,
 0.267,
 0.785,
 0.446,
 4.277,
 0.226,
 0.396,
 0.413,
 4.277,
 0.172,
 0.152,
 0.461,
 0.93,
 4.925,
 0.538,
 0.3,
 2.189,
 0.556,
 0.372,
 3.564,
 0.269,
 1.035,
 2.909,
 0.4,
 0.672,
 0.488,
 0.317,
 0.436,
 0.806,
 0.176,
 0.288,
 0.324,
 2.354,
 2.73,
 0.24,
 0.286,
 0.204,
 0.756,
 0.304,
 0.437,
 3.494,
 1.187,
 0.864,
 2.083,
 0.514,
 0.94,
 0.113,
 0.655,
 0.689,
 0.524,
 0.288,
 0.346,
 0.061,
 0.648,
 0.216,
 0.368,
 0.108,
 3.168,
 0.32,
 0.523,
 0.662,
 0.864,
 1.133,
 0.684,
 3.492,
 0.173,
 0.212,
 0.618,
 0.233,
 1.1,
 1.009,
 1.474,
 0.155,
 1.069,
 0.307,
 4.068,
 0.109,
 2.041,
 2.225,
 0.082,
 0.186,
 0.207,
 1.49,
 0.15,
 1.824,
 0.799,
 2.574,
 0.842,
 0.348,
 0.95,
 1.21,
 2.56,
 0.149,
 0.418,
 0.121,
 1.197,
 0.084,
 0.687,
 0.36,
 0.24,
 0.437,
 0.149,
 0.283,
 0.23,
 0.637,
 1.478,
 0.432,
 2.441,
 1.44,
 1.188,
 0.4,
 0.262,
 0.147,
 0.264,
 0.986,
 0.862,
 0.349,
 0.432,
 0.311,
 0.169,
 0.912,
 0.576,
 0.542,
 2.095,
 0.255,
 1.267,
 0.583,
 0.308,
 0.176,
 1.07,
 1.92,
 1.14,
 0.677,
 0.557,
 0.211,
 0.288,
 0.283,
 0.494,
 0.444,
 2.178,
 0.403,
 2.506,
 1.379,
 0.493,
 0.712,
 1.152,
 0.466,
 0.743,
 0.874,
 0.369,
 1.037,
 0.388,
 0.098,
 0.95,
 0.546,
 0.778,
 2.948,
 0.705,
 0.486,
 0.147,
 0.552,
 0.466,
 0.634,
 0.176,
 1.11,
 0.196,
 0.449,
 0.148,
 0.792,
 1.44,
 1.156,
 1.071,
 1.184,
 2.178,
 0.238,
 1.901,
 0.212,
 1.408,
 0.112,
 0.071,
 1.8,
 0.36,
 0.47,
 0.618,
 0.058,
 1.066,
 1.44,
 2.851,
 0.528,
 0.864,
 0.452,
 0.425,
 0.437,
 0.905,
 3.797,
 0.284,
 0.346,
 2.052,
 4.531,
 0.339,
 0.189,
 0.367,
 0.47,
 0.63,
 1.224,
 0.499,
 0.387,
 0.907,
 1.216,
 1.201,
 0.399,
 2.534,
 0.54,
 1.424,
 0.358,
 0.674,
 0.605,
 1.181,
 0.98,
 0.26,
 0.662,
 0.107,
 0.612,
 0.314,
 0.301,
 0.362,
 0.523,
 0.376,
 0.509,
 3.11,
 0.178,
 0.594,
 0.363,
 2.15,
 0.162,
 0.816,
 0.432,
 0.364,
 0.285,
 0.176,
 0.456,
 0.288,
 0.274,
 4.248,
 0.96,
 0.62,
 0.826,
 0.291,
 0.142,
 0.893,
 0.092,
 0.228,
 1.879,
 0.454,
 0.85,
 0.284,
 1.356,
 0.725,
 0.374,
 0.218,
 2.16,
 4.277,
 1.404,
 0.874,
 0.096,
 0.147,
 0.619,
 0.307,
 0.433,
 0.72,
 0.636,
 0.174,
 0.193,
 0.295,
 0.451,
 1.084,
 2.036,
 1.882,
 0.353,
 0.357,
 0.139,
 0.672,
 0.867,
 1.57,
 0.998,
 0.288,
 0.582,
 1.102,
 0.235,
 0.427,
 0.49,
 0.19,
 2.484,
 1.326,
 0.446,
 0.392,
 2.457,
 0.198,
 0.242,
 0.648,
 0.749,
 0.32,
 1.109,
 0.479,
 0.138,
 1.253,
 0.103,
 0.432,
 0.284,
 0.173,
 0.086,
 0.874,
 1.813,
 0.364,
 0.141,
 0.557,
 4.838,
 0.176,
 0.278,
 2.03,
 0.614,
 0.122,
 0.286,
 1.046,
 1.214,
 0.558,
 0.336,
 0.349,
 0.47,
 0.535,
 0.411,
 0.648,
 1.134,
 0.277,
 0.72,
 0.248,
 4.277,
 0.835,
 0.403,
 0.09,
 0.48,
 3.401,
 0.666,
 1.428,
 1.166,
 0.34,
 2.472,
 1.159,
 0.17,
 1.539,
 2.059,
 0.77,
 0.34,
 0.239,
 0.785,
 0.292,
 0.394,
 0.096,
 0.301,
 0.48,
 0.147,
 0.924,
 0.936,
 0.15,
 2.668,
 2.203,
 0.974,
 0.239,
 0.342,
 4.45,
 0.708,
 1.42,
 1.53,
 0.245,
 0.459,
 0.792,
 3.053,
 1.392,
 3.151,
 0.818,
 0.979,
 0.599,
 0.59,
 0.518,
 0.739,
 0.484,
 0.302,
 0.13,
 0.51,
 0.112,
 0.252,
 0.432,
 0.152,
 0.388,
 0.599,
 0.202,
 1.766,
 0.286,
 1.032,
 1.071,
 0.552,
 0.2,
 0.383,
 0.236,
 0.642,
 0.708,
 0.542,
 0.077,
 1.395,
 0.84,
 0.257,
 1.879,
 0.389,
 0.352,
 0.407,
 0.948,
 0.644,
 0.952,
 0.73,
 1.274,
 1.148,
 0.381,
 1.627,
 2.57,
 0.893,
 1.663,
 1.094,
 1.077,
 0.281,
 1.32,
 0.72,
 1.944,
 0.907,
 0.101,
 3.955,
 0.713,
 0.336,
 1.555,
 0.954,
 0.137,
 0.291,
 0.941,
 0.057,
 0.252,
 1.094,
 0.323,
 0.333,
 1.373,
 0.25,
 0.25,
 1.399,
 0.634,
 0.059,
 0.262,
 0.51,
 0.286,
 0.213,
 0.124,
 1.152,
 0.115,
 0.68,
 1.32,
 0.159,
 0.096,
 0.427,
 0.481,
 0.533,
 0.074,
 0.494,
 0.255,
 0.384,
 0.182,
 0.632,
 0.257,
 0.146,
 0.704,
 0.828,
 3.232,
 0.373,
 1.607,
 0.8,
 0.228,
 0.599,
 0.365,
 1.037,
 0.151,
 1.428,
 0.34,
 0.264,
 0.269,
 2.57,
 0.252,
 0.381,
 0.481,
 0.93,
 1.67,
 0.123,
 0.404,
 2.039,
 0.983,
 0.146,
 0.189,
 0.346,
 0.107,
 2.592,
 0.078,
 0.2,
 0.403,
 0.583,
 0.123,
 0.886,
 0.346,
 0.918,
 3.168,
 0.364,
 0.59,
 2.88,
 0.327,
 1.382,
 0.576,
 0.614,
 0.212,
 0.116,
 0.554,
 0.132,
 0.254,
 0.049,
 2.472,
 3.596,
 0.185,
 0.48,
 1.238,
 1.056,
 0.134,
 1.09,
 1.079,
 1.378,
 0.801,
 0.648,
 1.242,
 0.57,
 1.244,
 0.778,
 1.714,
 0.23,
 0.857,
 0.378,
 0.792,
 0.504,
 0.966,
 0.262,
 0.144,
 0.259,
 0.857,
 0.48,
 0.124,
 0.339,
 0.048,
 0.583,
 0.358,
 0.17,
 0.208,
 1.539,
 1.003,
 0.806,
 0.189,
 0.768,
 0.078,
 0.85,
 0.534,
 0.432,
 0.23,
 0.456,
 0.481,
 0.153,
 0.801,
 2.88,
 1.134,
 0.424,
 0.378,
 0.96,
 0.185,
 1.44,
 0.148,
 0.277,
 2.73,
 3.37,
 0.406,
 0.106,
 0.485,
 0.271,
 0.696,
 0.294,
 0.117,
 1.1,
 0.273,
 1.997,
 1.188,
 0.81,
 0.403,
 1.932,
 1.187,
 0.353,
 0.384,
 0.142,
 0.819,
 2.87,
 0.494,
 1.747,
 0.785,
 0.538,
 0.132,
 0.58,
 0.282,
 0.576,
 0.998,
 0.15,
 0.12,
 0.288,
 0.808,
 0.053,
 0.835,
 1.442,
 2.131,
 0.544,
 0.481,
 0.484,
 0.332,
 0.883,
 1.02,
 1.224,
 0.648,
 0.196,
 0.498,
 0.157,
 0.204,
 0.08,
 3.058,
 0.191,
 0.142,
 0.85,
 0.36,
 0.828,
 0.552,
 0.698,
 0.132,
 0.32,
 1.494,
 0.242,
 1.145,
 0.102,
 0.136,
 0.308,
 0.298,
 1.026,
 0.734,
 0.214,
 0.542,
 0.518,
 1.598,
 0.103,
 0.114,
 1.357,
 0.605,
 0.941,
 0.324,
 1.116,
 2.592,
 1.123,
 0.164,
 0.342,
 0.572,
 0.421,
 0.9,
 0.476,
 0.486,
 2.419,
 0.132,
 0.345,
 0.144,
 2.482,
 1.018,
 0.816,
 0.158,
 0.418,
 0.233,
 0.616,
 3.662,
 0.166,
 0.356,
 1.012,
 3.461,
 0.336,
 0.108,
 0.446,
 1.008,
 1.035,
 0.494,
 1.63,
 0.179,
 0.302,
 1.04,
 0.057,
 0.138,
 0.403,
 0.1,
 0.206,
 0.314,
 0.315,
 0.299,
 1.555,
 0.655,
 0.328,
 0.535,
 0.972,
 0.638,
 0.8,
 0.189,
 0.304,
 0.749,
 0.485,
 1.717,
 0.294,
 0.257,
 0.355,
 1.274,
 2.678,
 0.295,
 0.199,
 0.432,
 0.24,
 0.097,
 1.392,
 0.368,
 1.555,
 1.254,
 0.49,
 1.068,
 1.559,
 0.148,
 0.286,
 1.685,
 0.303,
 0.662,
 2.17,
 1.881,
 0.96,
 1.944,
 1.098,
 0.227,
 0.514,
 2.016,
 1.428,
 0.4,
 0.991,
 0.418,
 1.685,
 2.548,
 0.648,
 0.297,
 0.662,
 0.324,
 0.316,
 0.36,
 0.278,
 0.198,
 0.824,
 0.119,
 1.2,
 0.3,
 0.388,
 0.749,
 0.634,
 1.238,
 1.101,
 0.792,
 0.502,
 0.95,
 2.052,
 4.416,
 0.828,
 1.344,
 0.317,
 0.288,
 1.133,
 0.378,
 0.396,
 1.085,
 0.365,
 1.148,
 2.856,
 0.466,
 2.142,
 1.21,
 0.991,
 1.322,
 0.252,
 0.577,
 0.618,
 0.36,
 0.15,
 1.831,
 0.31,
 1.058,
 3.492,
 2.293,
 1.282,
 0.502,
 0.307,
 0.946,
 3.091,
 1.083,
 0.572,
 0.509,
 0.358,
 0.147,
 1.224,
 1.382,
 0.632,
 1.116,
 0.773,
 0.556,
 1.512,
 0.162,
 2.592,
 1.771,
 0.189,
 2.938,
 0.523,
 0.95,
 0.271,
 0.197,
 1.445,
 1.125,
 0.189,
 1.428,
 0.161,
 0.158,
 0.547,
 0.326,
 3.73,
 0.864,
 0.157,
 0.47,
 2.311,
 0.11,
 0.185,
 0.605,
 0.286,
 0.364,
 0.828,
 1.409,
 1.895,
 0.191,
 0.335,
 1.187,
 0.416,
 0.103,
 ...]

In [24]:
print(sum(usages)/len(usages))

0.7818779680365244

In [25]:
## Question 1 b

In [26]:
## Q2 d
feb_vale = []
for id, value in enumerate(data[0]):
    if "feb" in value.lower():
        feb_vale.append(usages[id])
print(sum(feb_vale)/len(feb_vale))

0.8329151785714302

In [28]:
print(len(usages))
print(len(data[0]))

8760
8760

In [31]:
print(data[0])

0           3 PM  Mon 24th-Mar-2014___0.384 kwh
1                  5AM  15-Aug-2014___1.201  kwh
2            __8PM Thu 20-Mar-2014____1.523 kwh
3                 6PM  23rd-Apr-2014___0.424  kwh
4       _1AM  Friday 19th-Dec-2014___0.209  kwh
                          ...
8755           _1AM  Fri 07th-Nov-2014_0.084 kwh
8756                  _6AM 20-May-2014__1.027 kwh
8757     __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8758              9 PM 27th-Jan-2014_1.428  kwh
8759            _12 PM 25th-Aug-2014_0.528  kwh
Name: 0, Length: 8760, dtype: object

In [33]:
print(data[0].sort_values())

8263        1 AM   28th-Aug-2014__0.228  kwh
2766       1 AM   30th-Sep-2014____0.125kwh
326       1 AM   Mon 28-Apr-2014____0.058kwh
5584          1 AM  19th-Oct-2014_0.153  kwh
3814         1 AM  20-Apr-2014____0.086 kwh
                        ...
54                __9PM 31-May-2014_0.326 kwh
3671      __9PM Fri 4-Jul-2014___1.104  kwh
808       __9PM Sun 26th-Jan-2014___1.116 kwh
3679     __9PM Wed 24-Dec-2014___0.673  kwh
1456    __9PM Wednesday 29-Oct-2014__0.40kwh
Name: 0, Length: 8760, dtype: object

In [32]:
## Q3 a
mon = []
tue = []
wed = []
thr = []
fri = []
sat = []
sun = []
for id, value in enumerate(data[0]):
    if "mon" in value.lower():
        mon.append(usages[id])
    if "tue" in value.lower():
        tue.append(usages[id])
    
    if "wed" in value.lower():
        wed.append(usages[id])
        
    if "thu" in value.lower():
        thr.append(usages[id])
    if "fri" in value.lower():
        fri.append(usages[id])
    if "sun" in value.lower():
        sun.append(usages[id])
    if "sat" in value.lower():
        sat.append(usages[id])
    
print(sum(mon)/len(mon))
print(sum(tue)/len(tue))
print(sum(wed)/len(wed))
print(sum(thr)/len(thr))
print(sum(fri)/len(fri))
print(sum(sat)/len(sat))
print(sum(sun)/len(sun))

8263        1 AM   28th-Aug-2014__0.228  kwh
2766       1 AM   30th-Sep-2014____0.125kwh
326       1 AM   Mon 28-Apr-2014____0.058kwh
5584          1 AM  19th-Oct-2014_0.153  kwh
3814         1 AM  20-Apr-2014____0.086 kwh
                        ...
54                __9PM 31-May-2014_0.326 kwh
3671      __9PM Fri 4-Jul-2014___1.104  kwh
808       __9PM Sun 26th-Jan-2014___1.116 kwh
3679     __9PM Wed 24-Dec-2014___0.673  kwh
1456    __9PM Wednesday 29-Oct-2014__0.40kwh
Name: 0, Length: 8760, dtype: object
0.7405227629513347
0.7088591117917311
0.7557595541401279
0.7852262090483629
0.7374485407066065
0.8919824840764341
0.8895797101449271

In [60]:
data_time['days'] = pd.to_datetime(data_time['days'])
data_time

           days  hours  usages
0    2014-03-24     15   0.384
1    2014-08-15      5   1.201
2    2014-03-20     20   1.523
3    2014-04-23     18   0.424
4    2014-12-19      1   0.209
...         ...    ...     ...
8755 2014-11-07      1   0.084
8756 2014-05-20      6   1.027
8757 2014-04-08      2   0.052
8758 2014-01-27     21   1.428
8759 2014-08-25     12   0.528

[8760 rows x 3 columns]

In [62]:
df_sorted = data_time.sort_values(by=['days', 'hours'])
df_sorted[:30]

           days  hours  usages
8425 2014-01-01      0   0.684
6316 2014-01-01      1   0.340
5068 2014-01-01      2   0.332
4106 2014-01-01      3   0.396
3239 2014-01-01      4   0.388
1815 2014-01-01      5   2.354
1472 2014-01-01      6   2.304
8132 2014-01-01      7   1.530
6515 2014-01-01      8   0.656
4694 2014-01-01      9   0.510
5987 2014-01-01     10   0.952
4591 2014-01-01     11   0.830
858  2014-01-01     12   0.800
6425 2014-01-01     13   0.784
1035 2014-01-01     14   0.872
6216 2014-01-01     15   0.720
8657 2014-01-01     16   0.936
8142 2014-01-01     17   2.548
4837 2014-01-01     18   2.856
3458 2014-01-01     19   4.248
8745 2014-01-01     20   3.200
1214 2014-01-01     21   1.404
3523 2014-01-01     22   1.200
6633 2014-01-01     23   1.130
5487 2014-01-02      0   0.690
1884 2014-01-02      1   0.472
98   2014-01-02      2   0.348
6468 2014-01-02      3   0.464
3209 2014-01-02      4   0.456
8575 2014-01-02      5   1.892

In [63]:
amouts = []
for i in range(0, len(df_sorted['usages'])-3):
    amouts.append(sum(df_sorted['usages'][i:i+4]))
print(max(amouts))

17.237000000000002

In [ ]:
##q4 a

In [68]:
monthly_usages_sum = df_sorted.groupby(df_sorted['days'].dt.to_period("M"))['usages'].sum()
len(monthly_usages_sum)
monthly_usages_sum

days
2014-01    1042.660
2014-02     559.719
2014-03     420.748
2014-04     151.242
2014-05     417.157
2014-06     904.247
2014-07    1255.524
2014-08     633.390
2014-09     349.686
2014-10     313.719
2014-11     232.420
2014-12     568.739
Freq: M, Name: usages, dtype: float64

In [73]:
monthly_usages_sum[0]

1042.66

In [74]:
(0.2*monthly_usages_sum[0] + 0.19 * monthly_usages_sum[1] + 0.17 * monthly_usages_sum[2] + 0.18 * monthly_usages_sum[3] + 0.22 * monthly_usages_sum[4] + 0.27 * monthly_usages_sum[5] + 0.24 * monthly_usages_sum[6] + 0.19 * monthly_usages_sum[7] + 0.18 * monthly_usages_sum[8] + 0.15 * monthly_usages_sum[9] + 0.14 * monthly_usages_sum[10] + 0.19 * monthly_usages_sum[11])

1421.82096

In [ ]:
### Q5 b

In [75]:
hourly_prices = {
    0: 0.10, 1: 0.10, 2: 0.10, 3: 0.10, 4: 0.15, 5: 0.20,
    6: 0.24, 7: 0.24, 8: 0.26, 9: 0.20, 10: 0.20, 11: 0.26,
    12: 0.26, 13: 0.20, 14: 0.24, 15: 0.18, 16: 0.15, 17: 0.30,
    18: 0.24, 19: 0.24, 20: 0.12, 21: 0.11, 22: 0.10, 23: 0.10
}
# Adding a new column to the dataframe for the hourly price by mapping the 'hours' to the price dictionary
df_sorted['price_per_kWh'] = df_sorted['hours'].map(hourly_prices)

# Calculating the total cost for each row
df_sorted['total_cost'] = df_sorted['usages'] * df_sorted['price_per_kWh']

# Total cost across all entries
total_cost = df_sorted['total_cost'].sum()
total_cost, df_sorted

(1369.36063,
            days  hours  usages  price_per_kWh  total_cost
 8425 2014-01-01      0   0.684           0.10     0.06840
 6316 2014-01-01      1   0.340           0.10     0.03400
 5068 2014-01-01      2   0.332           0.10     0.03320
 4106 2014-01-01      3   0.396           0.10     0.03960
 3239 2014-01-01      4   0.388           0.15     0.05820
 ...         ...    ...     ...            ...         ...
 7408 2014-12-31     19   1.940           0.24     0.46560
 7959 2014-12-31     20   1.901           0.12     0.22812
 7703 2014-12-31     21   0.766           0.11     0.08426
 1860 2014-12-31     22   0.633           0.10     0.06330
 3865 2014-12-31     23   0.600           0.10     0.06000

 [8760 rows x 5 columns])

In [76]:
#Q6 a

In [77]:
data_time['usages'].sum()*0.21

1438.34271

In [ ]:
###q7 c